.bigBadassHeadline {
  text-align: center;

  h1 {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.2;
    color: #556cd6;
  }

  h4 {
    color: #697386;
  }
}

.card-content-ios {
  padding-top: 10px;
}

.checkoutButton {
  margin: auto;

  span {
    font-weight: bolder;
    font-size: 1.1em;
  }
}

.checkoutDisabled {
  cursor: not-allowed;
}

.checkoutEnabled {
  cursor: pointer;
}

.checkoutInfo {
  text-align: right;

  p {
    margin: 0 16px;
    font-size: 0.8em;
  }
}

.dongInfo {
  p {
    font-size: 0.8em;
  }
}

.preBillingCard:hover {
  box-shadow: 0 0 0 1px rgba(136, 152, 170, 0.1),
    0 15px 35px 0 rgba(49, 49, 93, 0.1), 0 5px 15px 0 rgba(0, 0, 0, 0.08);
  transition: all 250ms ease-in-out;
}
